<div class="card">
    <div class="card-body">
        <form novalidate
        [formGroup]="searchForm">
        <p>Type a Country and then click the button to search their capitals</p>
        <input  matInput 
                class="form-control"
                 id="countrySearch"
                 type="text"
                 placeholder="Type a country"
                 formControlName="countrySearch" />
        <button mat-button color="primary"
                 type="button"
                 (click)="searchCapital()">
           Search Capital
         </button>       
        </form>
        <div *ngIf="capitals">
            <h3>Capitals</h3>
            <ul>
                <li *ngFor="let capital of capitals">
                    <span>{{capital.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

